/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url(https://fonts.googleapis.com/css?family=Gentium+Basic:700,400,700italic,400italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600);

body {
	height: 100%;
	background-color: rgb(255,255,255);
	padding: 0px;
	margin: 0px;
}

h1 {
	font-family: 'Gentium Basic', serif;
	font-size: 1.75em;
	line-height: 1.1em;
	color: rgb(0,74,128);
	font-style: italic;
	text-align: center;
}

h2 {
	font-family: 'Poppins', sans-serif;
	font-size: 1.5em;
	text-align: center;
	color: rgb(0,74,128);
	font-weight: normal;
}

h3 {
	font-family: 'Gentium Basic', serif;
	font-size: 1.2em;
	line-height: 1.4em;
	text-align: justify;
	font-weight: normal;
}

h4 {
	font-family: 'Poppins', sans-serif;
	font-weight: normal;
	font-size: 1em;
	color: rgb(0,74,128);
	line-height: 1em;
	text-align: center;
}

h5 {
	font-family: Helvetica, sans-serif;
	color: rgb(0,0,0);
	text-align: left;
	font-size: .7em;
}

h6 {
	font-family: 'Gentium Basic', serif;
	font-size: 1.2em;
	text-align: center;
	font-weight: bold;
	font-style: italic;
}

a:hover {
	font-weight: bold;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "hello";
  clear: both;
  height: 0;
}

.fixed-nav-bar {
	position: fixed;
	width: 100%;
	background-color: rgb(255,255,255);
	background-position: center;
}

.mainnavlinks {
	text-align: center;
	margin: 5;
	padding: 18px;
	display: flex;
	justify-content: space-between;
}

.mainnavlinks a{
	font-family: 'Poppins', sans-serif;
	font-size: 1em;
	letter-spacing: 2px;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	color: rgb(0,74,128);
}

#home {
	background-color: rgb(255,255,255);
	background-image: url(../images/SALT_Pg1_BG.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: fixed;
	background-size: cover;
}

#home img {
/*	width: 100%;
*/	}

#home h3 {
	color: rgb(0,74,128);
	padding: 10% 0% 12% 0%;
	text-align: center;
}

#home_left img {
	width: 100%;
}

#home_left {
	float: left;
	width: 38%;
	padding: 10% 0% 0% 8%;
}

#home_right {
	padding: 8% 0% 0% 5%;
	width: 45%;
	float: left;
}

#home_right img {
	width: 100%;
	max-width: 550px;
}

#book {
	background-color: rgb(255,255,255);
	padding-bottom: 5%;
}

#book h3 {
	color: rgb(0,74,128);

}

#book_left {
	float: left;
	width: 50%;
	padding: 11% 0% 0% 5%;
}

#book_left img {
	width: 100%;
	padding-bottom: 5%;
}

#book_left h3 {
	margin-top: 1%;
}

#book_left a {
	text-decoration: none;
	color: rgb(0,74,128);
	font-family: 'Gentium Basic', serif;
	font-weight: bold;
}

#book_right {
	padding: 8% 0% 0% 1%;
	width: 40%;
	float: left;
}

#book_right img {
	max-width: 100%;
}

#booklinks {
	text-align: center;
	padding-left: 8%;
}

#booklinks a {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 1em;
	letter-spacing: 2px;
	line-height: 1.7em;
	color: rgb(0,74,128);
	text-decoration: none;
}

#author {
	background-color: rgb(255,255,255);
	background-image: url(../images/SALT_author_bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: fixed;
	background-size: cover;
	padding-bottom: 10%;
	padding-top: 5%;
}


.author_col {
	float: left;
	width: 35%;
	margin: 0;
	padding-top: 5%;
}

.author_col img {
	width: 100%;
	max-width: 500px;
	padding-top: 20px;
}

.author_col h2 {
	margin-top: 10%;
	color: rgb(255,255,255);
	font-size: 1.2em;
	line-height: .2em;
}

.author_col h3 {
	color: rgb(255,255,255);
	margin-top: 10%;
}

.author_col h4 {
}

.author_col h6 {
	margin-top: 5%;
}

.author_col a {
	color: rgb(255,255,255);
	text-decoration: none;
	line-height: 1.5em;
}

#author_col3 {
	width: 20%;
	float: left;
	background-color: green;
	margin: 10% 5% 5% 5%;
	padding-top: 15%;
	padding-bottom: 15%;
}

#reviews {
	padding: 8%;
	background-color: rgb(0,74,128)
}

#reviews h2 {
	line-height: .1em;
	padding-top: 1.5%;
	font-size: 1.3em;
	color: rgb(255,255,255)
}

#reviews h3 {	
	color: rgb(0,74,128);
	text-align: center;
	color: rgb(255,255,255)
}

#reviews h4 {
	color: rgb(255,255,255)
}

.quote {
	padding-top: 5%;
	padding-bottom: 5%;
}

#videos {
	height: 100%;
}

#footer {
	background-color: rgb(0,0,0);
	height: 60px;
}

#footer_left {
	float: left;
	width: 80%;
}

#footer_left h5 {
	padding-top: 3%;
	color: rgb(255,255,255);
	padding-left: 3%;
}

#footer_left a {
	text-decoration: none;
	font-family: helvetica, sans-serif;
	color: rgb(255,255,255);
}

#footer_column_logo {
	width: 5%;
	padding-top: .5%;
	float: right;
}