@import url(https://fonts.googleapis.com/css?family=Gentium+Basic:700,400,700italic,400italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600);

body {
	background-color: rgb(255,255,255);
	font-family: 'Gentium Basic', serif;
	text-align: justify;
	font-weight: normal;
}

p {
	font-family: 'Gentium Basic', serif;
	color: rgb(0,74,128);
	text-align: center;
	font-weight: normal;
	font-size: 1.2em;
	line-height: 1.4em;
}

h1 {
	font-family: 'Gentium Basic', serif;
	font-size: 1.9em;
	line-height: 1em;
	color: rgb(0,74,128);
	font-style: italic;
	font-weight: bold;
	text-align: center;
}

h2 {
	font-family: 'Poppins', sans-serif;
	font-size: 1.5em;
	line-height: 1em;
	text-align: center;
	color: rgb(125,189,206);
	font-weight: normal;
}

h3 {
	font-family: 'Gentium Basic', serif;
	font-size: 1.4em;
	line-height: 1.5em;
}

h4 {
	font-family: 'Poppins', sans-serif;
	font-weight: normal;
	font-size: 1em;
	line-height: 1.2em;
	text-align: center;
}

h5 {
	font-family: Helvetica, sans-serif;
	color: rgb(0,0,0);
	text-align: left;
	font-size: .7em;
	line-height: .8em;
}

a:hover {
	font-weight: bold;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "hello";
  clear: both;
  height: 0;
}

#mobilenav {
	display: none;
	}

#fixed-nav-bar {
	position: fixed;
	width: 100%;
	background-color: rgb(255,255,255);
}

nav {
	text-align: center;
	margin: 5;
	padding: 14px;
	display: flex;
	justify-content: space-between;
}

nav a{
	font-family: 'Poppins', sans-serif;
	font-size: 1em;
	letter-spacing: 2px;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	color: rgb(0,74,128);
}

#home {
	padding-top: 9%;
	background-color: rgb(255,255,255);
	background-image: url(../images/SALT_Pg1_BG.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: fixed;
	background-size: cover;
}

#home h3 {
	color: rgb(0,74,128);
	padding: 6% 0% 6% 0%;
	text-align: center;
}

#home_left img {
	width: 100%;
}

#home_left {
	float: left;
	width: 36%;
	padding: 2% 5% 0% 10%;
}

#home_right {
	padding-bottom: 3%;
	width: 42%;
	float: left;
}

#home_right img {
	width: 100%;
	max-width: 550px;
}

#book {
	background-color: rgb(255,255,255);
	padding-bottom: 6%;
}

#book h1 {
	padding-bottom: .5%;
}

#book_left {
	float: left;
	width: 50%;
	padding: 8% 0% 0% 5%;
}

#book_left img {
	width: 100%;
	padding-bottom: 5%;
}

#book_left a {
	text-decoration: none;
	color: rgb(0,74,128);
	font-style: italic;
	font-weight: bold;
	line-height: 3em;
}

#book_right {
	padding: 6% 0% 0% 1%;
	width: 40%;
	float: left;
}

#book_right img {
	max-width: 100%;
}

#booklinks {
	text-align: center;
	padding-left: 8%;
}

#booklinks a {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 1em;
	letter-spacing: 2px;
	line-height: 1.7em;
	color: rgb(0,74,128);
	text-decoration: none;
}

#author {
	background-color: rgb(255,255,255);
	background-image: url(../images/SALT_author_bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: fixed;
	background-size: cover;
	padding-bottom: 4%;
}

#author p {
	color: rgb(255,255,255);
}

.italic {
	font-style: italic;
}

#author_col1 {
	float: left;
	width: 29%;
	margin: 0;
	padding-top: 12%;
	padding-left: 2%;
	margin: auto;
}

#author_col1 img {
	width: 100%;
	max-width: 500px;
}

#author_col2 {
	float: left;
	width: 35%;
	padding-top: 12%;
	padding-left: 3%;
	margin: auto;
}

#author_col2 img {
	width: 100%;
	max-width: 500px;
	padding: 5% 0% 10% 0%;
}

#author_col2 a {
	color: rgb(255,255,255);
	text-decoration: none;
	line-height: 2em;
	text-align: center;
	font-style: italic;
}

#tourdates {
	padding-top: 8%;
}

#tourdates a {
	margin: 0% 2% 0% 2%;
	line-height: .3em;
}

#tourdates p {
	line-height: .3em;
}

#author_col3 {
	width: 18%;
	float: left;
	background-color: green;
	margin: 8% 2% 2% 6%;
	padding-top: 16%;
	padding-bottom: 26%;
}

#author_col3 h4 {
	padding: 13% 5%;
}

#videos {
	background-color: rgb(255,255,255);
	padding: 33%;
}

#reviews {
	padding: 8%;
	background-color: rgb(0,74,128)
}

#reviews h2 {
	line-height: .1em;
	padding-top: 1.5%;
}

#reviews h3 {	
	color: rgb(0,74,128);
	text-align: center;
	color: rgb(255,255,255);
}

#reviews h4 {
	color: rgb(255,255,255)
}

.quote {
	padding-top: 5%;
	padding-bottom: 5%;
}

footer {
	background-color: rgb(0,0,0);
	padding-top: .5%;
}

#footer_left {
	float: left;
	width: 95%;
	padding-top: 1.75%;

}

#footer_left h5 {
	color: rgb(255,255,255);
	padding-left: 3%;
}

#footer_left a {
	text-decoration: none;
	font-family: helvetica, sans-serif;
	color: rgb(255,255,255);
}

#footer_right_logo {
	float: right;
}

@media only screen and (max-width: 1000px) {
	h2 {
		font-size: 1.4em;
		line-height: 1.4em;
	}
	h3 {
		font-size: 1.3em;
		line-height: 1.3em;
	}
	p {
	font-size: 1.1em;
	line-height: 1.3em;
}
	#home_left {
		padding-top: 3%;
		padding-bottom: 5%;
	}
	#book h1 {
	padding-bottom: 1%;
	}
	#book {
		padding-bottom: 3%;
	}
	#book_left {
		padding-top: 10%;
		padding-bottom: 1%;
	}
	#book_right {
		padding-top: 8%;
	}
	#author_col1 {
		padding-top: 15%;
		width: 32%;
	}
	#author_col2 {
		padding-top: 12%;
	}
	#reviews {
	padding: 8% 12% 0% 12%;
	}
}
@media only screen and (max-width: 800px) {
	h2 {
		font-size: 1.4em;
		line-height: 1.4em;
	}
	h3 {
		font-size: 1.2em;
		line-height: 1.3em;
	}
	p {
		font-size: 1em;
		line-height: 1.3em;
	}
	#home {
		padding-top: 10%;
		padding-bottom: 5%;
	}
	#home_left {
		padding-bottom: 2%;
		width: 50%;
		padding: 5% 0% 0% 5%;
	}
	#home_left img {
		width: 95%;
	}
	#home_right {
		padding: 8% 0% 0% 2%;
	}
	#book {
		padding-bottom: 1%;
	}
	#book h1 {
		padding-bottom: 1%;
		font-size: 1.6em;
		line-height: 1.1em;
	}
	#book_left {
		padding-top: 13%;
		padding-left: 7%;
	}
	#book_right {
		padding: 12% 4% 5% 1%;
		width: 38%;
	}
	#author_col1 {
		padding-top: 17 %;
		width: 32%;
		padding-left: 0%;
	}
	#author_col2 {
		padding-top: 16%;
		padding-left: 0%;
		padding-bottom: 6%;
		width: 38%;
	}
	#author_col3 {
		margin: 10% 2% 2% 4%;
		padding: 10% 0% 22% 0%;
		width: 15%;
	}
	#tourdates a {
		font-size: 1em;
	}
	#tourdates h2 {
		font-size: 1.2em;
	}	
	#reviews {
	padding: 8% 12% 0% 12%;
	}
	#reviews h4 {
		font-size: .9em;
	}
}
@media only screen and (max-width: 600px) {
	h2 {
		font-size: 1.4em;
		line-height: 1.4em;
	}
	h3 {
		font-size: 1.1em;
		line-height: 1.2em;
	}
	#home {
		padding-top: 11%;
		padding-bottom: 10%;
	}

	#book h1 {
		font-size: 1.4em;
		line-height: 1.1em;
	}
	#book_left {
		padding: 15% 1% 2% 6%;
		width: 50%;
	}
	#book_right {
		padding: 20% 1% 5% .5%;
		width: 39%;
	}
	#author_col1 {
		padding-top: 22%;
		width: 31%;
		padding-left: 0%;
	}
	#author_col2 {
		padding-top: 14%;
		padding-left: 0%;
		padding-bottom: 4%;
		width: 42%;
	}
	#author_col3 {
		margin: 15% 2% 0% 4%;
		padding: 10% 0% 22% 0%;
		width: 14%;
	}
	#tourdates h2 {
		font-size: 1.1em;
	}
	#tourdates a {
		margin: 0% 1% 0% 1%;
		line-height: .3em;
		font-size: .9em;
	}
	#reviews h2 {
		font-size: 1.2em;
		}
	#reviews h4 {
		font-size: .8em;
	}
}
@media only screen and (max-width: 480px) {
	h2 {
		font-size: 1.4em;
		line-height: 1.4em;
	}
	h3 {
		font-size: 1.2em;
		line-height: 1.3em;
	}
	p {
		font-size: 1.1em;
		line-height: 1.3em;
	}
	#mobilenav {
		display: block;
	}
	nav {
		display: block;
	}
	nav a{
		display: none;
		padding: 2%;
		font-size: 1.3em;
	}
	nav:hover a {
		display: block;
	}
	#fixed-nav-bar:hover {
		opacity: .8;
	}
	#home_left {
		float: none;
		margin: auto;
		padding-top: 15%;
		width: 85%;
	}
	#home_right {
		float: none;
		margin: auto;
		padding-top: 5%;
		width: 80%;
	}
	#book_left {
		float: none;
		margin: auto;
		padding-top: 24%;
		width: 80%;
	}
	#book h1 {
		font-size: 1.5em;
		line-height: 1.2em;
	}
	#book_right {
		float: none;
		margin: auto;
		width: 60%;
		padding-top: 2%;
	}
	#author_col1 {
		float: none;
		margin: auto;
		width: 85%;
		padding-top: 24%;
		padding-bottom: 0%;
	}
	#author_col1 img {
		padding-bottom: 0%;
	}
	#author_col2 {
		float: none;
		margin: auto;
		width: 85%;
		padding-top: 0%;
	}
	#author_col3 {
		float: none;
		margin: auto;
		width: 60%;
		margin-top: 8%;
		padding-top: 20%;
		padding-bottom: 20%;
	}
	#tourdates h2 {
		font-size: 1.3em;
	}
	#tourdates a {
		margin: 0% 1% 0% 1%;
		line-height: .3em;
		font-size: 1em;
	}
	#reviews {
		padding-top: 13%;
	}
	#reviews h3 {
		font-size: 1.1em;
		line-height: 1.4em;
	}
	#reviews h2 {
		font-size: 1.1em;
	}
	#reviews h4 {
		font-size: .8em;
		line-height: 1.2em;
	}
}