@import url(https://fonts.googleapis.com/css?family=Gentium+Basic:700,400,700italic,400italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600);

body {
	height: 100%;
	background-color: rgb(255,255,255);
	padding: 0px;
	margin: 0px;
}

section {
	display: block;
	text-align: center;
}

.fixed-nav-bar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 60px;
	background-color: rgb(255,255,255);
	background-position: center;
}

.mainnavlinks {
	text-align: center;
	margin: 5;
	padding: 15px;
	display: flex;
	justify-content: space-between;
}

.mainnavlinks a{
	font-family: 'Poppins500', sans-serif;
	font-size: 1em;
	letter-spacing: 2px;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	color: rgb(0,74,128);
}
#home {
	height: 100%;
	background-image: url(../images/SALT_Pg1_BG.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: fixed;
	background-size: cover;
	background-color: rgb(255,255,255);
}

#home img {
	max-width: 100%;
}

#home_left {
	float: left;
	width: 40%;
	padding: 12% 0% 0% 10%;
	/*display: table-row;*/
}

#home h3 {
	padding: 5% 0% 6% 0%;
}

#home_right {
	padding: 10% 4% 0% 2%;
	width: 40%;
	float: right;
}

#book {
	height: 100%;
	background-color: rgb(255,255,255);
}

#book img {
	max-width: 105%;
}

#book_left {
	float: left;
	width: 40%;
/*	display: table-row;
*/	padding-left: 10%;
	padding-top: 10%;
}

#book_left h3 {
	margin-top: -3%;
}

#book_right {
	padding-top: 8%;
	padding-right: 5%;
	width: 40%;
	float: right;
	display: table-row;
}

#booklinksgroup {
	padding-left: 0%;
}

.booklinks {
	font-family: 'Poppins500', sans-serif;
	font-size: 1em;
	letter-spacing: 2px;
	color: rgb(0,74,128);
	text-decoration: none;
	padding-left: 8%;
	padding-right: 8%;
	text-align: center;
/*	float: right;
*/}

#author{
	height: 100%;
	background-image: url(../images/SALT_author_bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: fixed;
	background-size: cover;
	background-color: rgb(255,255,255);
}

#author h3 {
	color: rgb(255,255,255);
	padding-top: 50%;
}

#author_col1n {
	max-width: 100%;
	float: left;
	width: 20%;
}

#author img {
/*	max-width: 100%;
*/	float: left;
	padding-top: 10%;
	padding-left: 3%
}

#author_col2 {
	padding-right: 40%;
	padding-left: 35%;
	padding-top: 10%;
	width: 40%;
}

#author_col3 {
	width: 20%;
}

.quote1 {
	padding: 3%;
}

.quote2 {
	padding: 3%;
}

#videos {
	height: 100%;
}

#reviews {
	height: 100%;
}

#footer {
}

.footlinks {
	font-family: helvetica, sans-serif;
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-size: 50%;
}

h1 {
	font-family: 'Gentium Basic', serif;
	font-size: 1.75em;
	line-height: 1.1em;
	color: rgb(0,74,128);
	font-style: italic;
	text-align: center;
}

h3 {
	font-family: 'Gentium Basic 400', serif;
	font-size: 1.2em;
	line-height: 1.3em;
	text-align: center;
	color: rgb(0,74,128);
	font-weight: normal;
}
h4 {
	font-family: 'Poppins400', sans-serif;
	font-weight: normal;
	font-size: 1em;
	color: rgb(0,74,128);
	line-height: 1.3em;
	text-align: center;
}

h5 {
	font-family: Helvetica, sans-serif;
	color: rgb(0,74,128);
	text-align: left;
}

p {
	font-family: 'Gentium Basic', serif;
	text-align: left;
	color: rgb(0,74,128);
	background-color: rgb(255,255,255);
}