@import url(https://fonts.googleapis.com/css?family=Gentium+Basic:700,400,700italic,400italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600);

body {
	height: 100%;
	background-color: rgb(255,255,255);
	padding: 0px;
	margin: 0px;
}

h1 {
	font-family: 'Gentium Basic', serif;
	font-size: 1.75em;
	line-height: 1.1em;
	color: rgb(0,74,128);
	font-style: italic;
	text-align: center;
}

h2 {
	font-family: 'Gentium Basic', serif;
	font-size: 1.2em;
	line-height: 1.4em;
	text-align: center;
	color: rgb(0,74,128);
	font-weight: normal;
}

h3 {
	font-family: 'Gentium Basic', serif;
	font-size: 1.2em;
	line-height: 1.4em;
	text-align: center;
	font-weight: normal;
}
h4 {
	font-family: 'Poppins', sans-serif;
	font-weight: normal;
	font-size: 1em;
	color: rgb(0,74,128);
	line-height: 1.3em;
	text-align: center;
}

h5 {
	font-family: Helvetica, sans-serif;
	color: rgb(0,74,128);
	text-align: left;
}

a:hover {
	font-weight: bold;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "hello";
  clear: both;
  height: 0;
}

.fixed-nav-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: rgb(255,255,255);
	background-position: center;
}

.mainnavlinks {
	text-align: center;
	margin: 5;
	padding: 15px;
	display: flex;
	justify-content: space-between;
}

.mainnavlinks a{
	font-family: 'Poppins', sans-serif;
	font-size: 1.2em;
	letter-spacing: 2px;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	color: rgb(0,74,128);
}

#home {
	height: 100%;
	background-color: rgb(255,255,255);
	background-image: url(../images/SALT_Pg1_BG.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: fixed;
	background-size: cover;
}

#home h3 {
	color: rgb(0,74,128);
}

#home_left img {
	width: 100%;
}

#home_left {
	float: left;
	width: 40%;
	padding: 12% 0% 0% 10%;
}

#home h3 {
	padding: 5% 0% 6% 0%;
}

#home_right {
	padding: 12% 0% 0% 5%;
	width: 45%;
	float: left;
}

#home_right img {
	width: 100%;
	max-width: 550px;
}

#book {
	height: 100%;
	background-color: rgb(255,255,255);
}

#book h3 {
	color: rgb(0,74,128);

}

#book_left img {
	width: 100%;
}

#book_left {
	float: left;
	width: 45%;
	padding-left: 10%;
	padding-top: 10%;
}

#book_left h3 {
	margin-top: -3%;
}

#book_left a {
	text-decoration: none;
	color: rgb(0,74,128);
	font-family: 'Gentium Basic', serif;
	font-weight: bold;
}

#book_right {
	padding-top: 10%;
	padding-right: 0%;
	width: 40%;
	float: left;
/*	background-color: red;
*/}

#book_right img {
	max-width: 100%;
}

#booklinksgroup {
	padding-left: 15%;
	padding-right: 3%;
	background-color: red;
}

.booklinks {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 1em;
	letter-spacing: 2px;
	color: rgb(0,74,128);
	text-decoration: none;
}

#author {
	height: 100%;
	background-color: rgb(255,255,255);
	background-image: url(../images/SALT_author_bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: fixed;
	background-size: cover;
}

# author h3 {
	color: ;
}

.author_col img {
	width: 100%;
	max-width: 500px;
	padding-top: 20px;
}

.author_col {
	float: left;
	width: 35%;
	margin: 0;
	background-color: gray;
	padding-top: 10%;
}

.author_col h3 {
	color: rgb(255,255,255);
	margin-top: 10%;
}

.author_col a {
	color: rgb(255,255,255);
	font-style: normal;
	text-decoration: none;
}

#author_col3 {
	width: 20%;
	float: left;
	background-color: green;
	margin: 0%;
	padding-top: 10%;
}

#tourdates a {
	text-decoration: none;
	color: rgb(255,255,255);
	text-align: center;
	padding: 5px;
	color: rgb(255,255,255);
}

#tourdates h3 {
	font-size: 1.5em;
	color: rgb(255,255,255);
}

#reviews h2 {
	font-weight: bold;
}

.quote1 {
	padding: 3%;
}

.quote2 {
	padding: 3%;
}

#videos {
	height: 100%;
}

#reviews {
	height: 100%;
}

#reviews h3 {	
	color: rgb(0,74,128);
}

#footer {
}

.footlinks {
	font-family: helvetica, sans-serif;
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-size: 50%;
}