.navlinks {
	color: rgb(0,57,89);
	font-family: helvetica ;
	background-color: rgb(255,255,255);
	text-align: center;
	text-decoration: none;
}

body {
	background-image: url(assets/SALT_Pg1_BG.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	font-weight: bold;
	font-style: italic;
	text-align: center;
}

h3 {
	font-family: "century schoolbook";
	font-weight: lighter;
	text-align: center;
	color: 0/74/128;
}

h4 {
	text-align: center;
	font-family: "Century Schoolbook"
}

h5 {
	text-align: center;
	font-family: "Century Schoolbook"
}

h6 {
	font-family: helvetica;
	text-align: left;
	color: rgb(0,74,128);
	background-color: rgb(255,255,255);
}