body {
	background-color: white;
	color: 0/74/128;
	background-image: "SALT_Pg1_BG.jpg";
	font-family: "Century Schoolbook";
}
h1 {font-weight: bold;
	font-style: italic;
	text-align: center;
}
h3 {text-align: center;
}