.navlinks {
	color: 0/74/128
	font-family: "helvetica";
	background-color: white;
	text-align: justify;
}

h1 {font-weight: bold;
	font-style: italic;
	text-align: center;
}

h3 {text-align: center;
}